.button_1 {
    height: 48px;
    width: 176px;
    background-color: $main-green;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $white;
    text-transform: capitalize;
    border: none;
    transition-duration: 0.4s;
    margin: 10px 0 97px;
    &:hover{
        background-color: rosybrown;
    }
}
