<section class="footer">
  <include
    class="shop"
    src="footer_nav.html"
    title="Tienda"
    li1="Productos"
    li2="Cajoneras"
    li3="Para toda la casa"
    li4="Habitaciones"
    page1="https://adalab.es/"
  ></include>
  <include
    class="about_us"
    src="footer_nav.html"
    title="Nosotros"
    li1="Nuestra guía"
    li2="Nuestro diseño"
    li3="Nuestra historia"
    li4="Ayuda"
    page1="https://adalab.es/"
  ></include>
  <include
    class="contact"
    src="footer_nav.html"
    title="Contacto"
    li1="ayuda@openspaces.com"
    li2="Socios"
  ></include>
  <i class="fa-brands fa-linkedin-in"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-solid fa-envelope"></i><
</section>
