<footer>
  <section class="footer">
    <include
      class="shop"
      src="footer_nav.html"
      title="Tienda"
      li1="Productos"
      li2="Cajoneras"
      li3="Para toda la casa"
      li4="Habitaciones"
      page1="https://adalab.es/"
      page2="https://adalab.es/"
      page3="https://adalab.es/"
      page4="https://adalab.es/"
    ></include>
    <include
      class="about_us"
      src="footer_nav.html"
      title="Nosotros"
      li1="Nuestra guía"
      li2="Nuestro diseño"
      li3="Nuestra historia"
      li4="Ayuda"
      page1="https://adalab.es/"
      page2="https://adalab.es/"
      page3="https://adalab.es/"
      page4="https://adalab.es/"
    ></include>

    <nav class="footer__nav--contact">
      <h3 class="footer__title">Contacto</h3>
      <ul>
        <li><a href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a></li>
        <li><a href="https://adalab.es">Socios</a></li>
      </ul>
      <ul class="footer__nav--socialmedia">
        <li>
          <a href="https://es.linkedin.com" class="icon__socialmedia"
            ><i class="fa-brands fa-linkedin-in icon__socialmedia"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" class="icon__socialmedia"
            ><i class="fa-brands fa-instagram icon__socialmedia"></i
          ></a>
        </li>
        <li>
          <a href="https://twitter.com/"
            ><i class="fa-brands fa-twitter icon__socialmedia"></i
          ></a>
        </li>
      </ul>
    </nav>
  </section>
  <a href="#home"> <i class="fa-solid fa-arrow-up footer__icon"></i></a>
</footer>
