<header class="header">
  <a href="https://adalab.es/"
    ><i class="header__menu--icon fas fa-bars"></i
  ></a>
  <nav class="pepe">
    <ul class="header__nav">
      <li><a href="https://adalab.es">Productos</a></li>
      <li><a href="https://adalab.es">Colecciones</a></li>
      <li><a href="https://adalab.es">Tienda</a></li>
      <li><a href="https://adalab.es">Inicio</a></li>
    </ul>
  </nav>
  <section class="header__menu" id="home">
    <img
      class="header__menu--logo"
      src="./assets/images/logo.png"
      title="logo_open_spaces"
      alt="logo_open_spaces"
    />
    <h3 class="header__title">Disfruta creando espacios</h3>
    <button class="button_header">Comprar ahora</button>
  </section>
</header>
