<header class="header">
  <section class="header__menu" id="home">
    <a href="https://adalab.es/"
      ><i class="header__menu--icon fas fa-bars"></i
    ></a>
    <nav class="header__nav">
      <ul>
        <li>Productos</li>
        <li>Colecciones</li>
        <li>Tienda</li>
        <li>Inicio</li>
      </ul>
    </nav>
    <img
      class="header__menu--logo"
      src="./assets/images/logo.png"
      title="logo_open_spaces"
      alt="logo_open_spaces"
    />
  </section>
  <h3 class="header__title">Disfruta creando espacios</h3>
  <button class="button_1">Comprar ahora</button>
</header>
