<header class="header">
  <section class="header__menu">
    <i class="header__menu--icon fas fa-bars"
      ><a href="https://adalab.es/"></a
    ></i>
    <nav class="header___nav">
      <ul>
        <li>Productos</li>
        <li>Colecciones</li>
        <li>Tienda</li>
        <li>Inicio</li>
      </ul>
    </nav>
    <img
      class="header__menu--logo"
      src="./assets/images/logo.png"
      title="logo_open_spaces"
      alt="logo_open_spaces"
    />
  </section>
  <h3 class="header__title">Disfruta creando espacios</h3>
  <button class="header___button">Comprar ahora</button>
</header>
