<main>
  <section class="main__section">
    <h3 class="main__section--title">Volverse organizado se siente mejor con OPEN SPACES</h3>

    <include
      src="section_1.html"
      icon="./assets/images/icon_1.png"
      title="icon_1"
      alt="icon_1"
      titleMain="Lo que necesitas"
      infoMain="Una línea de productos diseñados para todos tus espacios"
    ></include>

    <include
    src="section_1.html"
    icon="./assets/images/icon_2.png"
    title="icon_2"
    alt="icon_2"
    titleMain="Materias primas sustentables"
    infoMain="Todos los productos con materias primas sustentables"
  ></include>


  <include
  src="section_1.html"
  icon="./assets/images/icon_3.png"
  title="icon_1"
  alt="icon_1"
  titleMain="Guía"
  infoMain="Soporte y asesoramiento para ayudarte con tu objetivo"
></include>

</main>
