<main>
  <h3 class="main__module1--motto">
    Volverse organizado se siente mejor con OPEN SPACES
  </h3>
  <section class="main__module1">
    <include
      src="module_1.html"
      icon="./assets/images/icon_1.png"
      title="icon_1"
      alt="icon_1"
      titleMain="Lo que necesitas"
      infoMain="Una línea de productos diseñados para todos tus espacios"
    ></include>

    <include
      src="module_1.html"
      icon="./assets/images/icon_2.png"
      title="icon_2"
      alt="icon_2"
      titleMain="Materias primas sustentables"
      infoMain="Todos los productos con materias primas sustentables"
    ></include>

    <include
      src="module_1.html"
      icon="./assets/images/icon_3.png"
      title="icon_1"
      alt="icon_1"
      titleMain="Guía"
      infoMain="Soporte y asesoramiento para ayudarte con tu objetivo"
    ></include>
  </section>

  <section class="main__module2">
    <img
      class="icon4"
      src="./assets/images/icon_4.png"
      title="icon_4"
      alt="icon_4"
    />
    <h2 class="main__module2--title">Envío gratis garantizado</h2>
    <p class="main__module2--info">Envío gratis en compras desde 100</p>
    <button class="button_3">Comprar ahora</button>
  </section>
</main>
