<main>
  <section>
    <h3>Volverse organizado se siente mejor con open spaces</h3>
    <img src="./assets/images/icon_1.png" title="icon_1" alt="icon_1" />
    <h2>Lo que necesitas</h2>
    <p>Una línea de productos diseñados para todos tus espacios</p>
    <img src="./assets/images/icon_2.png" title="icon_2" alt="icon_2" />
    <h2>Materias primas sustentables</h2>
    <p>Todos los productos con materias primas sustentables</p>
    <img src="./assets/images/icon_3.png" title="icon_3" alt="icon_3" />
    <h2>Guía</h2>
    <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
  </section>
  <section>
    <img src="./assets/images/icon_4.png" title="icon_4" alt="icon_4" />
    <h3>Envío gratis garantizado</h3>
    <p>Envío gratis en compras desde 100</p>
    <h2>Comprar ahora</h2>
  </section>
</main>
