.footer{
    background-color: $main-green;
    color: $secondary-green;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 56px 59px 56px 146px;
    gap: 20px;
    &__nav {
        width: 207px;
        height: 59px;
        &--socialmedia {
            display: flex;
        flex-direction: row;
        }
    }

    &___title {

    }
}