.footer {
  color: $secondaryGreen;
  display: flex;
  flex-direction: column;
  padding: 56px 59px 56px 146px;
  gap: 20px;
  @media all and (min-width: 900px) {
    flex-direction: row;
    gap: 100px;
  }
  @media all and (min-width: 1728px) {
    gap: 400px;
  }
  &__title {
    font-size: 24px;
    padding-bottom: 12px;
  }

  &__nav {
    margin-bottom: 30px;
    line-height: 1.3;
    &--socialmedia {
      display: flex;
      flex-direction: row;
      padding-top: 20px;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    color: white;
    position: relative;
    left: 90%;
    @media all and (min-width: 900px) {
      bottom: 100px;
    }
  }

  a {
    text-decoration: none;
    @include t(14px, $secondaryGreen, 300);
  }
}
