.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  @media all and(min-width: 1728px) {
    padding-top: 76px;
  }

  &__nav {
    @media all and (min-width: 1728px) {
      display: flex;
      flex-direction: row;
      justify-content: left;
      gap: 30px;
      margin-left: 280px;
    }
    @media all and(max-width: 1728px) {
      display: none;
    }
  }
  &__title {
    // color: $main-green;
    // font-family: "Poppins", sans-serif;
    // font-weight: 600;
    // font-size: 24px;
    // font-weight: bold;
    margin-bottom: 150px;
    @media all and(min-width: 900px) {
      margin: 0 323px 0 147px;
      width: 30%;
    }
    @media all and(min-width: 1728px) {
      margin: 0 323px 0 147px;
      width: 15%;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--logo {
      margin: 19px 100px 250px 100px;
      @media all and(min-width: 1728px) {
        transform: translateY(-75px);
      }
    }
    &--icon {
      margin: 55px 43px 33px 33px;
      width: 24px;
      height: 24px;
      position: fixed;
      top: 0;
      color: black;
      @media all and(min-width: 900px) {
        position: left;
      }
      @media all and(min-width: 1728px) {
        visibility: hidden;
      }
    }
  }
}
